.datospersonales {
    background-color: #f5f5f5;
    padding: 30px 20px 30px 40px;
    margin: 100px 0 0 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.fotocv {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.datos1 {
    align-content: center;
}

.subtitulo {
    font-size: 18px;
    color: #333;
    margin: 0 0 10px 0;
}

.maincurriculum {
    width: 100%;
}
.cuerpocurriculum {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listacuerpo1 {
   border: none
}

.listacuerpo2 {
    border: none;
    padding-left: 20px;
}

.piedepagina {
    text-align: center;
}