.datospersonales {
    background-color: #f5f5f5;
    padding: 30px 20px 30px 40px;
    margin: 100px 0 0 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logoAD {
    align-items: center;
    font-weight: bold;
}

.fotocv {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.datos1 {
    align-content: center;
}

.subtitulo {
    font-size: 18px;
    color: #333;
    margin: 0 0 10px 0;
}

.maincurriculum {
    width: 100%;
}
.cuerpocurriculum {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listacuerpo1 {
    border: none;
    gap: 10px;
    display: flex;
    align-items: flex-start;
 }
 
.logo {
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-width: 80%;
    height: auto;
    object-fit: contain;
}
 .listacuerpo1 h3 {
     margin: 0;
     font-size: 1.1em;
     font-weight: bold;
 }

 .listacuerpo1 p {
     color: #6c757d;
     margin: 0;
     font-size: 0.9em;
 }
 
 .cargos {
     display: flex;
     align-items: flex-start;
     margin-top: 10px;
 }
 .cargos h4 {
     margin: 0;
     font-size: 1.0em;
 }
 
 .cargos p {
     color: #6c757d;
     margin: 0;
     font-size: 0.9em;
 }

.bullet {
    width: 10px;
    height: 10px;
    background-color: #6c757d;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 8px;
}

.piedepagina {
    text-align: center;
}    